nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  background-color: white;
  height: 10vh;
  border-bottom: 1.3px solid #333333;
  a {
    text-decoration: none;
  }
  .logo {
    color: #333333;
    font-size: 30px;
    text-transform: uppercase;
  }
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    li {
      list-style-type: none;
      a {
        color: #333333;
        font-size: 20px;
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
