.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 23vw;
  height: 60vh;
  margin: 5%;
  img {
    object-fit: cover;
    width: 100%;
    height: 60%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
  }
  .card-container {
    h4,
    p {
      padding: 5%;
    }

    h4 {
      text-transform: uppercase;
    }
    .card-price-addcart {
      display: flex;
      justify-content: space-between;
      padding-right: 10px;
    }
    button {
      display: grid;
      padding: 5px;
      margin: auto 0;
      font-size: 16px;
      background-color: #00c6e9;
      color: white;
      border: none;
      outline: none;
      padding: 5px;

      border-radius: 15px;
    }
  }
}
